h1 {
    color:darkolivegreen;
text-align: center;
border-style: double;}
.chf {
    width: 400px;
    height: 400px;
    border-style: double;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.frntpg {
    text-align: center;
}
