h1 {
    color:darkolivegreen;
text-align: center;
border-style: double;
background-color: lightyellow;}
.chf {
    height: 350;
    border-style: double;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: lightgrey;
}
.frntpg {
    text-align: center;
}

.lasagna {
    background-color: lightyellow;
    color: black;
    border-style: groove;
    padding-left: 1ch;
    padding-right: 1ch;
    padding-bottom: 0.5ch;
}
.macncheese {
    background-color: lightyellow;
    color: black;
    border-style: groove;
    padding-left: 1ch;
    padding-right: 1ch;
    padding-bottom: 0.5ch;
}
.penne-pasta {
    background-color: lightyellow;
    color: black;
    border-style: groove;
    padding-left: 1ch;
    padding-right: 1ch;
    padding-bottom: 0.5ch;
}
.frntpg {
    font-family: 'Courier New', Courier, monospace;
}
